<!-- <div class="main-wrapper">
  <app-header></app-header>
  <div class="content-layout">
    <app-sidebar></app-sidebar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

<!-- <header class="app-header">
  <h1>Mushroom Admin Panel</h1>
</header>

<div class="content-layout">
  <app-sidebar></app-sidebar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div> -->



<div class="main-wrapper">
  <app-header></app-header>
  <div class="content-layout">
    <app-sidebar></app-sidebar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>  