// .main-wrapper {
//   min-height: 100vh;
//   background-color: #f7fafc;
// }

// .content-layout {
//   display: flex;
// }

// .main-content {
//   flex: 1;
//   padding: 24px;
// }


.main-wrapper {
  min-height: 100vh;
  background-color: #f7fafc;
}

.content-layout {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 24px;
  min-height: 100vh;
  background-color: #f9fafb;
}
  